.current-player-panel {
  -fx-background-color: #ffffffff;
}

.answer-field {
  -fx-font-size: 24px;
  -fx-pref-height: 60px;
}

.x-bar {
  -fx-background-color: #ffffff;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
  -fx-font-weight: bold;
  -fx-font-size: 15px;
}

.x-text {
  -fx-font-weight: bold;
  -fx-font-size: 30px;
}

.current-answer-display {
  -fx-background-color: #ffffff;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 3);
  -fx-padding: 20px;
  -fx-font-weight: bold;
  -fx-font-size: 30px;
  -fx-text-fill: #333333;
  -fx-alignment: center;
}

.current-answer-status {
  -fx-background-color: #5699f7;
  -fx-background-radius: 15px;
  -fx-border-radius: 15px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 3);
  -fx-padding: 20px;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-text-fill: #333333;
  -fx-alignment: center;
}

.players-list-title {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-text-fill: #fff;
  -fx-alignment: center;
  -fx-padding: 6 0 6 0;
}
